div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
        table {
            thead {
                .th-min-width {
                    min-width: 150px;
                }
            }
            tbody {
                tr td {
                    text-align: center;
                }
            }
        }
    }
}
