@charset "UTF-8";
.filp-container-y {
  perspective: 1000px;
  /* 翻转速度 */
}

.filp-container-y:hover .flipper, .filp-container-y.hover .flipper {
  transform: rotateY(180deg);
}

.filp-container-y .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  /* 窗口正面 */
  /* 窗口背面 */
}

.filp-container-y .flipper .front, .filp-container-y .flipper .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.filp-container-y .flipper .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.filp-container-y .flipper .back {
  transform: rotateY(180deg);
}

.filp-container-y, .filp-container-y .front, .filp-container-y .back {
  width: 320px;
  height: 480px;
  border: 1px solid #ccc;
}

/* 竖着转 */
.filp-container-x, .filp-container-x .front, .filp-container-x .back {
  width: 320px;
  height: 400px;
  border: 1px solid #ccc;
}

.filp-container-x {
  perspective: 1000px;
  /* 翻转速度 */
}

.filp-container-x:hover .flipper, .filp-container-x.hover .flipper {
  transform: rotateX(-180deg);
}

.filp-container-x .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% 200px;
  /*是容器高度的一半*/
  /* 窗口正面 */
  /* 窗口背面 */
}

.filp-container-x .flipper .front, .filp-container-x .flipper .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.filp-container-x .flipper .front {
  z-index: 2;
  transform: rotateX(0deg);
}

.filp-container-x .flipper .back {
  transform: rotateX(180deg);
}
