.display-flex {
    display: flex;
    align-items: center;
    border: 3px solid #999;
    width: 500px;
    height: 100px;
    .flex-right {
        flex: 1;
        text-align: right;
        // margin-left: auto;
        border: 3px solid #C785C8;
        background-color: #C785C8;
        width: 50px;
        height: 50px;
    }
}