div.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.center content {
  width: 1500px;
  height: 500px;
}

div.center img {
  width: 50%;
  height: 50%;
}

div.center .trans_fade_image {
  position: absolute;
  -webkit-animation-name: fadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
