@charset "UTF-8";
.color-0B6E48 {
  width: 200px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* 伪类 */
  /* 伪元素 */
}

.color-0B6E48:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0B6E48;
  opacity: 1;
}

.color-0B6E48::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0B6E48;
}

.color-0B6E48::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0B6E48;
  opacity: 1;
}

.color-0B6E48::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0B6E48;
}

.color-0B6E48::placeholder {
  color: #0B6E48;
}

.color-E08031 {
  width: 200px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.color-E08031::placeholder {
  color: #E08031;
}

.color-7A297B {
  width: 200px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.color-7A297B::placeholder {
  color: #7A297B;
}

.color-default {
  width: 200px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
